# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Executable files
*.exe

# Backup Files (of Editor)
*.bak

# Document Files
*.pdf
*.html
*.mhtml
*.odf

# Compiled Static libraries
*.lai
*.la
*.a
